#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import BigQuery library

In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 1/ironhack_service_account_big_query.json"
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [3]:
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [5]:
query_1 = """ 
SELECT *

FROM `bigquery-public-data.stackoverflow.users`

WHERE location = "United Kingdom" """

In [6]:
query_job_1= client.query(query=query_1)

In [7]:
dataframe_1 = query_job_1.to_dataframe()
dataframe_1.head()

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,2434,Daniel James,None,None,2008-08-22 10:14:24.370000+00:00,2019-09-02 18:09:02.960000+00:00,United Kingdom,3659,333,24,469,None,None
1,21442,nationale,None,None,2008-09-24 00:03:25.460000+00:00,2008-10-13 02:26:37.530000+00:00,United Kingdom,183,2,0,25,None,None
2,35186,Rav,None,None,2008-11-06 17:26:38.160000+00:00,2019-11-30 16:51:11.733000+00:00,United Kingdom,587,0,4,46,https://i.stack.imgur.com/ykhD5.jpg,None
3,95361,Russ Hayward,<p>I write code primarily in Java but I enjoy ...,None,2009-04-24 08:38:24.340000+00:00,2019-11-29 11:11:07.363000+00:00,United Kingdom,5369,679,16,793,None,http://www.blanksite.com/
4,134189,jezmck,None,None,2009-05-14 19:33:12.667000+00:00,2019-11-29 13:38:48.700000+00:00,United Kingdom,918,507,73,89,https://i.stack.imgur.com/xPsDD.jpg?s=128&g=1,http://jezmck.com

#### 5. Rename id column to user_id

In [8]:
dataframe_1.columns = ["user_id", "display_name", "about_me", "age", "creation_date", "last_access_date", "location", "reputation", "up_votes", "down_votes", "views", "profile_image_url", "website_url"]

In [9]:
dataframe_1.head()

,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,2434,Daniel James,None,None,2008-08-22 10:14:24.370000+00:00,2019-09-02 18:09:02.960000+00:00,United Kingdom,3659,333,24,469,None,None
1,21442,nationale,None,None,2008-09-24 00:03:25.460000+00:00,2008-10-13 02:26:37.530000+00:00,United Kingdom,183,2,0,25,None,None
2,35186,Rav,None,None,2008-11-06 17:26:38.160000+00:00,2019-11-30 16:51:11.733000+00:00,United Kingdom,587,0,4,46,https://i.stack.imgur.com/ykhD5.jpg,None
3,95361,Russ Hayward,<p>I write code primarily in Java but I enjoy ...,None,2009-04-24 08:38:24.340000+00:00,2019-11-29 11:11:07.363000+00:00,United Kingdom,5369,679,16,793,None,http://www.blanksite.com/
4,134189,jezmck,None,None,2009-05-14 19:33:12.667000+00:00,2019-11-29 13:38:48.700000+00:00,United Kingdom,918,507,73,89,https://i.stack.imgur.com/xPsDD.jpg?s=128&g=1,http://jezmck.com

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

In [10]:
query_2 = """ 
SELECT id, owner_user_id,  score,  view_count,  comment_count,  favorite_count   

FROM `bigquery-public-data.stackoverflow.stackoverflow_posts`

WHERE view_count <= 20

ORDER BY owner_user_id DESC """

In [11]:
query_job_2= client.query(query=query_2)

In [13]:
dataframe_2 = query_job_2.to_dataframe()
dataframe_2.head()

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  37770625      6455132.0      0           5              0             NaN
1  37770603      6455125.0     -1           2              0             NaN
2  37770587      6455117.0      0          17              2             NaN
3  37770626      6455113.0     -2           2              1             NaN
4  37770491      6455091.0     -2          10              1             NaN

#### 7. Rename id column to post_id and owner_user_id to user_id

In [14]:
dataframe_2.columns = ["post_id", "user_id", "score", "view_count", "comment_count", "favorite_count"]

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [15]:
dataframe_users = dataframe_2[["user_id", "reputation", "views", "up_votes", "down_votes"]].copy()
dataframe_users.head()

KeyError: "['down_votes', 'up_votes', 'reputation', 'views'] not in index"

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 9. How many missing values do you have in your merged dataframe?

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!