#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import BigQuery library

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 1/ironhack_service_account_big_query.json"
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [4]:
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [9]:
query_1 = """ 
SELECT *

FROM `bigquery-public-data.stackoverflow.users`

WHERE location = "United Kingdom"
"""

In [10]:
query_job_1= client.query(query=query_1)

In [12]:
dataframe_1 = query_job_1.to_dataframe()
dataframe_1.head()

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,5337,J Hunt,<p></p>,None,2008-09-09 09:07:41.840000+00:00,2015-02-19 16:29:45.007000+00:00,United Kingdom,602,1,0,127,None,None
1,6910,Jonathan,<ul><li>Started programming with Visual Basic ...,None,2008-09-15 12:48:35.843000+00:00,2019-11-29 15:15:39.270000+00:00,United Kingdom,21315,897,8,831,https://www.gravatar.com/avatar/592695fec5a951...,http://www.toolan.net
2,33682,James Crowley,"<p>Co-founder at <a href=""http://www.fundapps....",None,2008-11-03 15:43:51.987000+00:00,2019-11-19 17:11:30.080000+00:00,United Kingdom,3218,124,3,448,None,http://www.jamescrowley.net/
3,73789,Perrin255,None,None,2009-03-04 16:50:24.240000+00:00,2019-04-26 14:48:57.903000+00:00,United Kingdom,431,55,0,49,None,None
4,90996,badmanj,None,None,2009-04-15 09:01:26.433000+00:00,2010-04-09 10:31:19.850000+00:00,United Kingdom,178,3,0,51,None,None

#### 5. Rename id column to user_id

In [13]:
data.columns = ['user_id', 'display_name', 'about_me', 'age', 'creation_date',
       'last_access_date', 'location', 'reputation', 'up_votes', 'down_votes',
       'views', 'profile_image_url', 'website_url']

NameError: name 'data' is not defined

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

#### 7. Rename id column to post_id and owner_user_id to user_id

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

   user_id  reputation  views  up_votes  down_votes
0    32777         731     38        16           6
1    77741         435    110        28           1
2   174979         916     91       186          19
3  1502608        1264     90        44           0
4  2550349        1674    170       398           8

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 9. How many missing values do you have in your merged dataframe?

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!